@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #A5C5CC;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: #021334;
}
